.menubtn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.menubtn span {
  zoom: 1.5;
  width: 30px;
  height: 5px;
  margin: 2px;
  background: rgb(255, 253, 253);
}

.menuconfig {
  background-color: black;
  margin: 50px 90px 0px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-family: var(--font-road-rage);
  font-size: 30px;
  letter-spacing: 0.1em;
  padding: 50px;
}

.menutxtcolor {
  font-family: var(--font-road-rage);
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
}

.secondarymenu {
  background-color: black;
  display: flex;
  position: absolute;
  width: 200px;
  height: 250px;
  font-family: var(--font-road-rage);
  top: 74px;
  right: -50px;
  flex-direction: column;
  justify-content: space-around;
  transition: height 0.8s ease-in;
  overflow: hidden;
  z-index: 1002;
}

.fontsecondmenu {
  font-size: 40px;
  letter-spacing: 0.1em;
}

.fontconfigsecondmenu {
  font-size: 30px;
  letter-spacing: 0.1em;
}

.likeicon {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
}

.likeicon:hover {
  transform: scale(1.2);
}

.inputpesquisa {
  display: flex;
  width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
}
.caixapesquisa {
  display: flex;
  align-items: center;
  width: 53%;
  justify-content: space-between;
}

.agrupesquisa {
  display: flex;
  height: 30px;
}

.footer {
  background-color: #201914;
  display: flex;
  height: 12vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 29px;
  justify-content: space-between;
}

.fontfooter {
  font-family: var(--font-geist-sans);
  font-size: 13px;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.imagecard {
  height: 550px;
  width: 450px;
  position: relative;
  border: white solid 20px;
}

.cardbtnbackground {
  background-color: white;
  padding: 10px 20px;
  overflow: hidden;
}

.cardbtn {
  color: black;
  background-color: white;
  height: 60px;
  width: 437px;
  border: black solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fontlermais {
  font-family: var(--font-road-rage);
  font-size: 25px;
}

.cardsconfig {
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
  justify-content: center;
}

.slidediv {
  display: flex;
  height: 60vh;
  width: 100vw;
  justify-content: center;
  /* overflow: hidden; */
  position: relative;
}

.slideshow {
  display: flex;
  justify-content: center;
  padding: 25px;
  position: relative;
  height: 45vh;
  width: 45vw;
  border: 1rem solid #f2e1b0;
}

.slideleftbutton,
.sliderightbutton {
  position: absolute;
  height: 45vh;
  width: 50vw;
  z-index: 1001;
}

.sliderightbutton {
  right: 0;
}

.slideleftbutton {
  left: 0;
}

.loginbtn {
  height: 5vh;
  width: 5vw;
  background-color: black;
  border: none;
}

.logintext {
  font-family: var(--font-road-rage);
  font-size: 35px;
}

.logindiv {
  width: 5vw;
  display: flex;
  justify-content: center;
}

.Fita_Adesiva {
  background-color: #10216c;
  width: 1.5rem;
  height: 6rem;
  position: absolute;
  z-index: 999; /*Menor apenas que a div de click*/
}

.Fita_Adesiva_Esquerda_Topo {
  left: 27.5vw;
  top: -2rem;
  transform: rotate(30deg);
}
.Fita_Adesiva_Direita_Topo {
  right: 27.5vw;
  top: -2rem;
  transform: rotate(140deg);
}

.Fita_Adesiva_Esquerda_Baixo {
  left: 27.5vw;
  bottom: 6.5rem;
  transform: rotate(140deg);
}
.Fita_Adesiva_Direita_Baixo {
  right: 27.5vw;
  bottom: 6.5rem;
  transform: rotate(30deg);
}

.Div_Imagem_Anterior,
.Div_Imagem_Posterior {
  position: absolute;
  width: 35vw;
  height: 35vh;
  z-index: -1;
  top: 3rem;
  opacity: 0.5;
}
.Div_Imagem_Anterior {
  position: absolute;
  left: 6rem;
}
.Div_Imagem_Posterior {
  position: absolute;
  right: 6rem;
}
